<!-- Loop over each object in the projects array -->
{{#each bikes as |bike| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/bicycles/{{bike.id}}">{{bike.title}}</a>
    </h2>
    <p>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{bike.price}}</span>
    </p>
    <p>Created by {{bike.user.name}} on {{bike.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{bike.description}}
    </p>
  </div>
</div>
{{/each}}
