<!-- Loop over each object in the projects array -->
{{#each bikes as |bike| }}

<div class="card section-bikeProfile">
        <h2>
          <a href="/bicycles/{{bike.id}}">{{bike.title}}</a>
        </h2>
        <img class="card-img" src="https://mbaction.com/wp-content/uploads/2019/06/GaryFisher_June1989_4mb.jpg">
        <div class="teamStatsTable">
            <div class="nba-title">Price: ${{bike.price}}</div>
            
            <table>
                <tr>
                    <td class="statsKeyTitle">Posted by: {{bike.user.name}} on {{format_date bike.date_created}}</td>
                </tr>
                <tr>
                    <p>{{bike.description}}</p>
                </tr>
            </table>
        </div>
{{/each}}
